<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845587109394-40fri78kgq2iboen2l9o8ftlfbfs9m5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845587109394-40fri78kgq2iboen2l9o8ftlfbfs9m5e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>845587109394-6a46pvhndsmf1elm9njou4v705de638a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAz0-hUZkCRlG1Hne5VWrurrYD3ROzxzV4</string>
	<key>GCM_SENDER_ID</key>
	<string>845587109394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskManagementApp</string>
	<key>PROJECT_ID</key>
	<string>task-management-apps-ab7cb</string>
	<key>STORAGE_BUCKET</key>
	<string>task-management-apps-ab7cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845587109394:ios:363e0cab33728ce8932acb</string>
</dict>
</plist>